{
    "rules": {
        "eqeqeq": 2,
        "no-use-before-define": 0,
        "curly": 2,
        "quotes": [1, "single"],
        "semi": [2, "always"],
        "indent": 2,
        "max-len": [2, 100, 4],
        "no-irregular-whitespace": 2
    }
}

